/* BACKGROUND PICTURE FOR WHOLE PAGE========================================== */
#wholePage {
  background-color: rgb(226, 223, 223);
}


/* BIG PIC AT TOP============================================================= */
#topPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}


/* ABOUT ME BOX=============================================================== */
#aboutMeBox {
  background-color: #102750;
  color: white;
}


/* CONTACT ME PIC============================================================ */
#contactPic {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* CONTACT ME BOX============================================================= */
#contactMeBox {
  box-shadow: 0 10px 30px rgba(24, 22, 22, .89);
}



/* COLOR OF FONT============================================================== */
#navyText {
  color: #102750;
}

#darkGrayText {
  color: rgb(71, 70, 70);
}

#lightGrayText {
  color:  rgb(114, 113, 113);
}

#offWhite {
  color:  rgb(219, 217, 217);
}


/* FOOTER BOX================================================================= */
#footerBox {
  background-color: rgb(114, 113, 113);
  padding: 10px;
}


/* THIS IS THE STYLE FOR THE PROJECT CARDS==================================== */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }